In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel(r'testdata.xlsx')

In [57]:
df.describe()

         voltage   voltage1
count  87.000000  87.000000
mean    2.528345   2.528345
std     1.436997   1.436997
min     0.062500   0.062500
25%     1.281250   1.281250
50%     2.500000   2.500000
75%     3.745000   3.745000
max     5.000000   5.000000

In [3]:
df.tail()

    voltage digital
82   4.7500   "111"
83   4.8125   "111"
84   4.8750   "111"
85   4.9375   "111"
86   5.0000   "111"

In [4]:
df['voltage1']=df['voltage']

In [5]:
x = df[['voltage']]
y = df['digital']

In [6]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split,GridSearchCV

In [7]:
X_train, X_test, y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=42)

In [8]:
X_test.head()

    voltage
76   4.3750
0    0.0625
26   1.5625
22   1.3125
12   0.7500

In [9]:
y_test.head()

76    "111"
0     "000"
26    "010"
22    "010"
12    "001"
Name: digital, dtype: object

In [10]:
model = RandomForestClassifier(criterion= 'entropy',
 max_features = 'auto',
 min_samples_leaf = 1,
 min_samples_split= 4,
 n_estimators = 10,random_state=6)

In [11]:
model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=4,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=6, verbose=0,
                       warm_start=False)

In [13]:
model.predict([[1.5625]])

array(['"010"'], dtype=object)

In [15]:
from sklearn.svm import LinearSVC

In [48]:
model1 = LinearSVC(random_state=6, tol=1e-5)

In [49]:
model1.fit(X_train,y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=6, tol=1e-05,
          verbose=0)

In [52]:
model1.coef_

array([[-1.83855414],
       [-0.34101275],
       [-0.13549422],
       [-0.04736066],
       [ 0.04123335],
       [ 0.13962362],
       [ 0.31356421],
       [ 0.50695741]])

In [55]:
model.predict([[0.7500]])

array(['"001"'], dtype=object)

In [56]:
model1.intercept_

array([ 1.20607737, -0.08446349, -0.40504935, -0.58877928, -0.80625569,
       -1.04874462, -1.6563555 , -2.47187521])